html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background-color: black;
  background-image: url('./assets/star_wars_background.jpeg');
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
